<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="~/css/LayoutTrajetas.css" asp-append-version="true" />
   
</head>
<body>
    
        <header>
            <div class="header">
                <button class="close-btn">X</button>
                <h1>Gestiona tus tarjetas de crédito y saldos</h1>
                <div class="date">Jueves 12 de junio 11:00am</div>
                <div class="logo">PIZZERIA JOKAVE</div>
            </div>

            <div class="nav-tabs">
                <a asp-controller="Links" asp-action="AgregarTarjeta" class="nav-tab">Agregar tarjeta</a>
                <a asp-controller="Links" asp-action="MisTarjetas" class="nav-tab">Mis tarjetas</a>
                <a asp-controller="Links" asp-action="CargarSaldo" class="nav-tab">Cargar Saldo</a>
            </div>
        </header>

        <div class="container">
           

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
   

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Sidebar.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
