@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Links" asp-action="InicioOperaciones">Gerente</a>
    <a asp-controller="Links" asp-action="MenuClientes">Menu Clientes</a>
    <a asp-controller="Links" asp-action="ValidarPorCorreo">Validar Correo</a>
    <a asp-controller="Links" asp-action="CrearCuenta">Crear Cuenta</a>
</div>
